@model HolidayDomain.Entities.Property

<div class="card">

    <div class="card-header">
        <h4>
            <a asp-controller="PropertyListing" asp-action="ViewPropertyDetails" asp-route-id=@Model.Id>
                @Model.Name
            </a>
        </h4>
    </div>

    <div class="card-body">
        <b>@Model.Blurb</b> <br />
        Location: @Model.Location <br />
        Number of bedrooms: @Model.NumberOfBedrooms
    </div>

    <div class="card-footer">
        Cost per night: @Model.CostPerNight.ToString("c")
    </div>

</div>
