@model PropertyDetailsModel

@{
    ViewBag.Title = "Property details";
}

<h2>Property details</h2>
<br />

<div>
    <form method="post" action="@Url.Action("BookProperty", "Booking")">
        <input type="hidden" name="propertyId" value="@Model.Id" />

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="start" min="@DateTime.Now.ToString("yyyy-MM-dd")" required />

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="end" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" required />

        <button type="submit">Book property</button>
    </form>
</div>

<div id="dateErrorMessage" class="text-danger"></div>
<br />

<div class="col-sm-auto col-md-auto col-lg-auto">
    <div class="card">

        <div class="card-header">
            <h4>@Model.Name</h4>
            <h8>@Model.Description</h8>
        </div>

        <div class="card-body">
            <b>@Model.Blurb</b> <br />
            Location: @Model.Location <br />
            Number of bedrooms: @Model.NumberOfBedrooms <br />
            Cost per night: @Model.CostPerNight.ToString("c") <br />
        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var disabledStartDates = @Html.Raw(Json.Serialize(Model.BookedStartDates.Select(date => date.ToString("yyyy-MM-dd"))));
        var disabledEndDates = @Html.Raw(Json.Serialize(Model.BookedEndDates.Select(date => date.ToString("yyyy-MM-dd"))));

        var dateErrorMessage = document.getElementById("dateErrorMessage");

        var endDateElement = document.getElementById("endDate");
        var startDateElement = document.getElementById("startDate");

        function showError(message) {
            dateErrorMessage.innerText = message;
        }

        function clearError() {
            dateErrorMessage.innerText = '';
        }

        function formatDate(date) {
            var options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            return date.toLocaleDateString('en-US', options);
        }

        function checkUnavailableDates() {
            var start = new Date(startDateElement.value);
            var end = new Date(endDateElement.value);
            var unavailableDates = [];

            var startDate = start.setDate(start.getDate() + 1);

            for (var currentDate = new Date(startDate); currentDate <= end; currentDate.setDate(currentDate.getDate() + 1)) {
                var dateString = currentDate.toISOString().split('T')[0];
                if (disabledEndDates.includes(dateString)) {
                    unavailableDates.push(formatDate(currentDate));
                }
            }

            if (unavailableDates.length > 0) {
                showError("Unavailable dates between start date and end date: " + unavailableDates.join(', '));
                endDateElement.value = '';
            }
        }

        document.getElementById("startDate").addEventListener("input", function () {
            clearError();

            var startDate = new Date(this.value);
            startDate.setDate(startDate.getDate() + 1);
            endDateElement.min = startDate.toISOString().split('T')[0];

            if (disabledStartDates.includes(this.value)) {
                showError("Start date is not available");
                this.value = '';
            } else {
                if (endDateElement.value != '') {
                    checkUnavailableDates();
                } else
                    clearError();
            }
        });

        document.getElementById("endDate").addEventListener("input", function () {
            clearError();

            if (disabledEndDates.includes(this.value)) {
                showError("End date is not available");
                this.value = '';
            } else {
                if (endDateElement.value != '') {
                    checkUnavailableDates();
                } else
                    clearError();
            }
        });
    });
</script>
